/* Custom Left Menu */
@media (min-width: 768.01px) {
  nav#main__menu .menu-search {
    display: none;
  }
  nav#main__menu {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     width: 42px;
     padding-top: 50px;
     z-index: 10001;
     overflow: hidden;
     transition: width 0.2s ease-in-out;
  }
  nav#main__menu .icon{
    padding-right: 10px
  }
  nav#main__menu:hover {
    width: 250px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
  }
  main#content {
    width: 100%;
    padding-left: 40px;
  }
}